<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ScriptLessFramework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbdfae">  <td>15/11/26 15:44:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="com.driver.Driver.ScriptlessAutomation(java.lang.String, java.lang.String)">ScriptlessAutomation</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="bbdfae">  <td>15/11/26 15:44:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="com.driver.Driver.ScriptlessAutomation(java.lang.String, java.lang.String)">ScriptlessAutomation</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="bbdfae">  <td>15/11/26 15:45:21</td>   <td>22124</td> <td>&nbsp;</td><td title="&lt;&lt;com.driver.Driver.afterTest()">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4384790</td>   <td></td> </tr>
</table>
